<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aaron Jorgenson Resume</title>

  <!-- Bootstrap -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/resume.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ededed;" role="navigation">
      <div class="container img-responsive">
        <div class="row">
          <div class="col-sm-1">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="https://github.com/amjorgen/aaronjorgenson"><img src="../images/github.gif" class="github"></a><a class="navbar-brand" href="#top">Aaron Jorgenson</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>

                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </div>
        </div>
      </div>
    </nav>

    <div class="jumbotron custom-jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-4">

            <img src="../images/Photo1.png" class="center-block img-responsive img-rounded face">
          </div>
          <div class="col-md-8">
            <h1 id="jumbotron-text">Aaron Jorgenson</h1><br/>
            <p>Full stack web developer with experience using MongoDB, NodeJS, and Angular. Down to collaborate and listen. Drinks coffee.</p><br/><br/><br/><br/>
            <p id="button"><a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#contact-modal">Hire Me</a></p>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1><span>About Me</span></h1><br/>
          <p>My friends might tell you I'm hard working, responsible, and predictable. I would tell you I'm a laid back family man with places to go. You may know my story, misguided career selection after school, five years lost wondering why I was so disatissfied. For it all, I learned two important lessons: how to deliver on time as a manager, and why corporate ladders make babies cry. I'd love to hear where you've been, where you're going, and how we can work to get you there.</p>
        </div>
      </div>
    </div>  

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1><span>About this Page</span></h1><br/>
          <p>This page is a demonstration of the MEAN stack technologies. The server is built off of the ExpressJS module of the NodeJS framework.Styling for the page was created using Bootstrap and the contact forms using a combination of JS and Bootstrap with MongoDB as the back-end. AngularJS was utilized in order to modify the view of the page.</p>
          <p>Please refer to my <a id="links" href="https://github.com/amjorgen/aaronjorgenson">Github Repository</a> for a closer look at what makes this site tick. </p>
        </div>
      </div>
    </div><br/>

    <div class="prof-background">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
           <h1><span>Professional Experience</span></h1><br/>
         </div>
       </div>
       <div class="row">
        <div class="col-lg-11 prof-background">
          <p><b>Sales District Leader - Frito Lay : <small>2011-Present</b></small></p>
          <ul>
            <li>Manage a sales team of 12 individuals, delivering above standard performance year-to-date in total sales and market conditions through motivational leadership and a collaborative team environment.
            </li>
            <li>Develop a weekly plan of action for my team based off of region initiatives and zone direction. These plans are created through one on one and group discussion where tasks are assigned by route and revisited at the end of each week to measure progress, promote accountability, and create further discussion.
            </li>
            <li>Interact with store management to discuss display needs and provide suggested placement and build time frames. A timeline is agreed upon and created, and the work is divided between myself and the employee who services the store. Upon the build's completion, I conduct  follow-up with the store to provide sales feedback and answer any questions they may have.
            </li>
          </ul>
          <p><b>Shift Manager - Starbucks : <small>2009-2011</b></small></p>
          <ul>
            <li>Managed a team of 4-5 baristas in a high traffic store where communication and teamwork were crucial elements to success on a daily basis.  
            </li>
            <li>Clearly and effectively communicated daily tasks to individual baristas in order to deligate work, promote efficiency, and ensure that every member had a important part to play in the daily operation.  
            </li>
            <li>Approached opportunities collaboratively as a team to arrive at solutions together through effective group discussion.
            </li>
          </ul><br/>
        </div>
      </div>
    </div>
  </div>




  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1><span>Education</span></h1><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11">
        <p><b>Arizona State University : <small>2006-2010</small></b></p>
        <ul>
          <li>W.P. Carey School of Business<br/>Bachelor's of Science in Business Management</li>
        </ul>
      </div>
    </div><br/><br/><br/>
    <hr/>
  </div>


  <div class="container">
    <div class="row text-center">
      <div class="col-xs-2 col-xs-offset-1">
        <a href="http://www.w3.org/TR/html5/"><img src="../images/html.png" class="logo"></a>
      </div>
      <div class="col-xs-2">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"><img src="../images/css3.png" class="logo"></a>
      </div>
      <div class="col-xs-2">
        <a href="http://nodejs.org"><img src="../images/node.png" class="logo"></a>
      </div>
      <div class="col-xs-2">
        <a href="https://angularjs.org/"><img src="../images/angular.png" class="logo"></a>
      </div>
      <div class="col-xs-2">
        <a href="http://www.mongodb.org/"><img src="../images/mongodb.png" class="logo"></a>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div><br/>

  <div id="contact-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3>Contact Me</h3><br/>
          <form role="form" action="/api/contacts" method="post">
            <div class="form-group">
              <label for="InputName">Name</label>
              <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Your name">
            </div>
            <div class="form-group">
              <label for="InputName">Company</label>
              <input type="text" name="company" class="form-control" id="exampleInputName" placeholder="Your company name">
            </div>
            <div class="form-group">
              <label for="InputEmail1">Email address</label>
              <input type="text" name="email" class="form-control" id="exampleInputEmail" placeholder="Your email">
            </div>
            <div class="form-group">
              <label for="InputPassword1">Comment</label>
              <textarea type="text" name="comment" class="form-control" rows="4" id="exampleInputComment" placeholder="Tell me about your project."></textarea> 
            </div>
            <div class="form-group">
              <label for=""></label>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/bootstrap.min.js"></script>
</body>
</html>
