.custom-jumbotron {
	background-image: url('../images/jumbotron.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

#jumbotron-text {
	margin-top: 25px;
}

.face {
	margin-top: 34px;
}

.logo {
	max-height: 50px;
}

.projects1 {
	height: 215px;
/*	margin-left: 34px;*/
}
	
.projects2 {
	height: 211px;
/*	margin-left: 50px;*/
}
	
body {
	background-color: #ededed;
}

hr {
	background-color: #d9d9d9;
	height: 1px;

}

span {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

#button {
	margin-top: 13px;
	font-family: Helvetica, Arial, sans-serif;
}

.prof-background {
	background-color: #d9d9d9;
	margin: 0 !important;
	width: 100%;
}

.github {
	max-height: 40px;
	padding-top: 12px;
}