.custom-jumbotron {
	background-image: url('../images/jumbotron.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.face {
	margin-top: 34px;
}

.logo {
	max-height: 50px;
}

.projects1 {
	max-height: 250px;
	margin-left: 30px;
}
	
.projects2 {
	max-height: 250px;
	margin-left: 55px;
}
	
body {
	background-color: #e3e3e3
}