.custom-jumbotron {
	background-color: #DBD5CA !important;
}

.face {
	margin-top: 34px;
}

.logo {
	max-height: 50px;
}

.projects1 {
	max-height: 250px;
	margin-left: 30px;
}
	
.projects2 {
	max-height: 250px;
	margin-left: 55px;
}
	